---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
// import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Apprenez en un peu plus sur <br />
      <span class="text-accent dark:text-white highlight"> l'équipe de ListnBuddy</span>
    </Fragment>

    <Fragment slot="subtitle">
      Bienvenue chez ListnBuddy ! Nous sommes ravis de vous présenter notre application conçue pour simplifier et
      améliorer vos expériences de shopping en famille, entre amis et même au travail.
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Notre Histoire"
    subtitle="ListnBuddy est une application de liste de courses collaborative, conçue pour simplifier et améliorer vos expériences de shopping en famille, entre amis et même au travail."
    columns={2}
    items={[
      {
        title: 'Le Déclencheur',
        description:
          "Tout a commencé avec un besoin personnel. En tant que créateur de ListnBuddy, j'ai conçu cette application pour ma femme et moi, dans l'objectif de mieux nous organiser lors de nos courses.",
        icon: 'tabler:messages',
      },
      {
        title: "L'Observation",
        description:
          'À maintes reprises, nous avons constaté que les courses pouvaient être stressantes et nécessitaient beaucoup de coordination.',
        icon: 'tabler:headset',
      },
      {
        title: 'Le Besoin Identifié',
        description:
          "Quand j'avais besoin de quelque chose, ou lorsque nos enfants réclamaient des articles spécifiques, ma femme devait souvent s'arrêter au supermarché en rentrant du travail.",
        icon: 'tabler:headset',
      },
      {
        title: "L'Idée Émerge",
        description:
          "C'est ainsi qu'est née l'idée de créer une application qui nous permettrait de suivre les articles nécessaires et manquants en temps réel, où que nous soyons.",
        icon: 'tabler:headset',
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Content
    columns={1}
    isAfterContent={true}
    title="Notre Engagement"
    subtitle="Nous sommes engagés à simplifier vos courses et à améliorer votre expérience d'achat."
    imgHeight="500"
    items={[
      {
        title: "De l'Individuel au Collectif",
        description:
          "Ce qui devait être une simple application pour notre usage personnel a rapidement évolué en un projet sérieux. Nous avons réalisé que ListnBuddy pouvait également aider d'autres familles à mieux s'organiser et à simplifier leurs courses.",
        // icon: 'tabler:template',
      },

      {
        title: 'Compétences Mises en Œuvre',
        description:
          "En tant qu'autodidacte en code et développement web, avec des expériences en tant que freelance et quelques projets parallèles, j'ai mis en œuvre mes compétences pour créer ListnBuddy.",
        // icon: 'tabler:template',
      },
      {
        title: 'Engagement envers les Utilisateurs',
        description:
          'Notre engagement envers nos utilisateurs est de fournir une application conviviale et intuitive, qui facilite la collaboration et améliore la manière dont les familles font leurs achats.',
        // icon: 'tabler:template',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1572721968930-b96258f64801?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80',
      alt: 'Colorful Image',
    }}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Notre Mission"
    subtitle="Engagés à simplifier vos courses et à améliorer votre expérience d'achat."
    callToAction={{
      text: 'Utiliser ListnBuddy',
      href: 'https://app.listnbuddy.com/',
    }}
    items={[
      {
        title: 'Compréhension des Défis',
        description:
          'Nous comprenons les défis que posent la coordination des listes de courses et les multiples besoins de chaque membre de la famille.',
      },
      {
        title: 'La Plateforme Solution',
        description:
          'ListnBuddy vise à rendre les courses plus agréables et plus efficaces en offrant une plateforme où vous pouvez créer, partager et gérer vos listes de courses en toute simplicité.',
      },
      {
        title: 'Au-Delà des Familles',
        description:
          "Notre application est également idéale pour les professionnels, qu'il s'agisse de restaurants, d'entreprises de construction ou d'autres secteurs, qui souhaitent gérer leurs achats de manière efficace. Elle convient aussi parfaitement aux amis, aux étudiants et aux colocataires qui veulent planifier leurs achats ensemble, que ce soit pour une fête ou pour le quotidien.",
      },
    ]}
  />

  <Features3
    title="Notre Équipe"
    subtitle="Nous sommes une petite équipe familiale, passionnée par la création d'une application qui simplifie les courses et améliore l'expérience d'achat."
    columns={2}
    isBeforeContent={true}
    items={[
      {
        title: 'Les Membres Clés',
        description:
          'ListnBuddy est dirigé par moi-même, Sylvain Rivière, en tant que codeur, designer et aussi un peu de marketing (rires). Ma femme et ma fille jouent un rôle essentiel en tant que testeurs.',
        icon: 'tabler:template',
      },
      {
        title: "L'Amélioration Continue",
        description:
          'Notre famille, qui existe depuis 15 ans, est également le moteur qui nous pousse à améliorer constamment ListnBuddy.',
        icon: 'tabler:template',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Explorez nos avantages',
      href: 'https://app.listnbuddy.com',
      icon: 'tabler:download',
    }}
  >
    <Fragment slot="title">Explorez nos fonctionnalités,</Fragment>

    <Fragment slot="subtitle">
      Découvrez comment ListnBuddy simplifie vos courses et optimise votre organisation. <br
        class="hidden md:inline"
      />Découvrez une nouvelle manière de gérer vos listes dès maintenant ! 😊
    </Fragment>
  </CallToAction>

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    title="Statistics about us"
    stats={[
      { title: 'Offices', amount: '4' },
      { title: 'Employees', amount: '248' },
      { title: 'Templates', amount: '12' },
      { title: 'Awards', amount: '24' },
    ]}
  /> -->

  <!-- Features3 Widget ************** -->

  <!-- Steps2 Widget ****************** -->
</Layout>
